extends ./layout/index


block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7 
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus ultrices felis, ac ullamcorper lectus hendrerit in. Mauris finibus ligula ultrices, pulvinar neque quis, vestibulum tellus. Praesent vitae felis at ligula imperdiet egestas in quis dui. Aliquam massa est, suscipit ac ex ut, suscipit pretium arcu. Proin eget rutrum ante. Mauris commodo volutpat egestas. Sed finibus fringilla velit sed tristique. Etiam fringilla turpis est, in lacinia dolor luctus at. Aenean gravida dignissim turpis, ut tristique velit aliquam eu. Donec tempor tristique nulla, et pulvinar justo fermentum vitae. Mauris malesuada elit quis accumsan malesuada. Pellentesque turpis metus, volutpat tempor leo suscipit, rhoncus pulvinar risus. Suspendisse tempor enim eu maximus sollicitudin. Nunc eu condimentum arcu, id suscipit erat. Fusce ultrices lacus in vulputate dapibus.

                p Donec lobortis risus nibh, id dapibus ipsum elementum quis. Aliquam porttitor ex at interdum tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tempus tellus sed sem lobortis euismod. Pellentesque vitae libero sed lacus tempus vulputate sed id neque. Sed maximus ipsum vel consectetur auctor. Quisque magna elit, tincidunt at porttitor quis, egestas et lorem. Nam iaculis bibendum sollicitudin. Proin elit sem, semper porta scelerisque sit amet, suscipit ut sem. Maecenas scelerisque velit eu tincidunt euismod. Sed ac purus orci. Nullam tempor, diam in lobortis venenatis, ex elit gravida dolor, quis ullamcorper nisl dolor et risus. Phasellus nec nibh mattis ante placerat aliquet. Aliquam erat volutpat.

                p Sed pellentesque arcu nisl. Nam porta tortor non vehicula vehicula. Mauris pretium tellus est, eu porta enim pellentesque vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Nulla facilisi. Fusce nibh risus, finibus et eleifend ac, aliquam eu mauris. Sed condimentum, ex vel ultrices scelerisque, odio dui suscipit purus, quis consectetur libero risus in lectus. Maecenas mattis ac urna non rutrum. Nam id tortor augue. Quisque accumsan porta orci non cursus. Integer at erat elit.

    .listado-iconos 
        .container.mt-5.py-5.text-center    
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nam porta tortor non vehicula vehicula. Mauris pretium tellus est, eu porta enim pellentesque vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Nulla facilisi. Fusce nibh risus, finibus et eleifend ac, aliquam eu mauris. Sed condimentum, ex vel ultrices scelerisque, odio dui suscipit purus, quis consectetur libero risus in lectus. Maecenas mattis ac urna non rutrum. Nam id tortor augue.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Nam porta tortor non vehicula vehicula. Mauris pretium tellus est, eu porta enim pellentesque vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Nulla facilisi. Fusce nibh risus, finibus et eleifend ac, aliquam eu mauris. Sed condimentum, ex vel ultrices scelerisque, odio dui suscipit purus, quis consectetur libero risus in lectus. Maecenas mattis ac urna non rutrum. Nam id tortor augue.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Nam porta tortor non vehicula vehicula. Mauris pretium tellus est, eu porta enim pellentesque vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Nulla facilisi. Fusce nibh risus, finibus et eleifend ac, aliquam eu mauris. Sed condimentum, ex vel ultrices scelerisque, odio dui suscipit purus, quis consectetur libero risus in lectus. Maecenas mattis ac urna non rutrum. Nam id tortor augue.